<div id="home-background">
</div>
<div id="home-logo">
  <img id="imagetest" height="250" width="250" src="/images/buttons/home-logo.png">
</div>
<div id="home-buttons">
  <a href="/town">
  <button>
    <img id="imagetest" height="250" width="250" src="/images/buttons/home-buttons.png">
  </button>
  </a>
</div>
