<div class="level-select">
  <div id="level-select-header">
    <p> CHOOSE A LEVEL </p>
  </div>
  <div class="level-button" id="forest-level">
    <a href="/"><div class="level-text">FOREST</div></a>
  </div>
  <div class="level-button" id="cave-level">
    <a href="/"><div class="level-text">CAVE (Require lvl bla bla bla)</div></a>
  </div>
  <div class="level-button" id="boss-level">
    <a href="/"><div class="level-text">TEMPLE (Boss yeah right)</div></a>
  </div>
</div>
