<%= render "navbar" %>

<div class="level-select">
  <div id="level-select-header">
    <p> CHOOSE A LEVEL </p>
  </div>
  <div class="level-button" id="forest-level">
    <a href="/forest"><div class="level-text">FOREST</div></a>
    <div class="level-text"> Required lvl: 1 </div>
  </div>
  <div class="level-button" id="cave-level">
    <a href="/cave"><div class="level-text">CAVE</div></a>
    <div class="level-text"> Required lvl: 2 </div>
  </div>
  <div class="level-button" id="boss-level">
    <a href="/"><div class="level-text">TEMPLE</div></a>
    <div class="level-text"> Required lvl: Over 9000 </div>
  </div>
</div>
