#home-background {
  background-image: url(home-page.gif);
  width: 375px;
  height: 667px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -380px 0px;
}

#home-logo {
  margin-top: 20%;
  background-repeat: no-repeat;
  background-color: none;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
  text-align: center;
}

#home-buttons {
  margin-top: 80%;
  background-repeat: no-repeat;
  background-color: none;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
  text-align: center;
}

#imagetext {
  width: 100%;
  position: absolute;
}
