.level-select {
  padding-top:85px;
  height: 100%;
  width: auto;
  background: darkslategray;
  background: -webkit-linear-gradient(right top, darkslategray , lightslategray);
  background: -o-linear-gradient(bottom top, darkslategray, lightslategray);
  background: -moz-linear-gradient(bottom top, darkslategray, lightslategray);
  background: linear-gradient(to bottom top, darkslategray , lightslategray);
}

.level-button {
  text-decoration: none;
  background: yellow;
  width: 100%;
  height: 150px;
}

.level-button:visited{
  color:inherit;
}

.level-button .level-text{
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}


#level-select-header {
  font-size: 2.2em;
  padding:20px 0px;
  color: white;
  text-align: center;
  width: auto;
  background: transparent;

}

.level-container{
  background-color:transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.level-wrapper{
  padding:30px 0px;
}

#forest-level {
  background-image: url(forest.png);
}
#cave-level {
  background-image: url(cave.png);
}
#temple-level {
  background-image: url(temple.jpg);
}
#desert-level {
  background-image: url(temple.jpg);
}
