#stageMenu {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  height: 250px;
  width: 100%;
  background: grey;
}

#logo {
  position: absolute;
  top: -120px;
  left: 100px;
  z-index: -1;
}

#hide-show-toggle {
  background: yellow;
  text-align: center;
}

.menu-button {
  border-radius: 25px;
  padding-top: 5%;
  height: 70%;
  margin: 7%;
  background: #98DDFE;
  float: right;
  text-align: center;
}

.hide-menu {
  transform: translateY(135%);
  transition-timing-function: ease-in;
  transition: 0.2s;
}
.show-menu {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
}

