#navbar, #stageMenu{
  background: darkslategray;
  background: -webkit-linear-gradient(left top, lightslategray , darkslategray);
  background: -o-linear-gradient(top right, lightslategray, darkslategray);
  background: -moz-linear-gradient(top right, lightslategray, darkslategray);
  background: linear-gradient(to top right, lightslategray , darkslategray);
  border-color:white;
}

#stageMenu {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0px;
  z-index: 1;
  height: 220px;
  width: 100%;
  border-width:3px 0px 0px;
  border-style: outset;
}

#logo {
  position: absolute;
  top: -120px;
  left: 100px;
  z-index: -1;
}

#hide-show-toggle {
  background: yellow;
  text-align: center;
}

.menu-button {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 23px;
  font-weight: 600;
  border-radius: 25px;
  padding-top: 2%;
  height: 70%;
  margin: 7%;
  background: #98DDFE;
  text-align: center;
  border-width:4px;
  border-color: white;
  border-style: outset;
  cursor: pointer;
}


.harvest-button{
  color:inherit;
  text-decoration: none;
}
.harvest-button:visited{
  color:inherit;
}

.hide-menu {
  transform: translateY(135%);
  transition-timing-function: ease-in;
  transition: 0.2s;
}
.show-menu {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
}

