#navbar {
  position: absolute;
  background: grey;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 2;
}

.resource {
  margin: 1px;
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 5px;
  background: #98DDFE;
  float: right;
}

.resource-amount {
  margin-top: 20px;
  margin-right: 1px;
  color: black;
  font-size: 1em;
  float: right;
}

#home {
  margin-top: 3px;
  margin-left: 5px;
  float: left;
}
